:root{
    --main: #265077;
    --fonts:#802BB1;
    --third:#2D283E;
    --fourth:#4C495D;
    --sec:#D1D7E0;
}

@font-face {
    font-family: ops;
    src: url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@400..700&family=Honk&family=Pacifico&family=Rubik+Glitch+Pop&family=Workbench&display=swap");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(4, 9, 4, 0.534), rgba(4, 9, 30, 0.589)), url("../photo/bg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-nav {
    background-color: var(--main) !important;
}

.logo{
    width: 85px;
    height: 55px;
}

.tech{
    color: wheat;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Black Ops One";
    font-weight: 400;
    font-style: normal;
}

.page_title{
    color: wheat;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Black Ops One";
    font-weight: 400;
    font-style: normal;
}

.form_section_student{
    width: 100%;
    height: 63vh;
}
.form_section_student_setNumber{
    width: 100%;
    height: 44.4vh;
}

.form_section{
    width: 100%;
    height: 87vh;
}

.form-container{
    background-color: rgba(128, 128, 128, 0.633);
    border-radius: 20px;
    box-shadow: 4px -3px 2px black;
    padding: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.comfirm,.submit{
    background-color: var(--main);
    color: wheat;
}

.comfirm:hover{
    background-color:#2650779f;
    color: white;
}

.submit:hover{
    background-color: #2650779f;
    color: white;
}

.text{
    color: var(--main);
}

.tabel_holder{
    width: 100%;
    height: 50vh;
}

.suplier_tabel_holder{
    width: 100%;
    height: 56.3vh;
}

th{
    color: var(--fonts)!important;
}

td{
    color: var(--main)!important;
    font-weight: bold;
}

table,
th,
td {
    border: 2px solid var(--main);
}

.error_container{
    width: 100%;
    height: 81.3vh;
}

.error_massege , .error{
    color: wheat;
}

.icons{
    font-size: 25px!important;
}

footer{
    background-color: var(--main);
    color: var(--sec);
}

.megahd_name{
    color: rgb(78, 205, 255);
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    margin-top: 15px;
}

.beso_footer, .footer_titles{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.beso_name , .megahd_name{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
    width: max-content;
}


.blue {
    color: #049ada;
}

.red {
    color: #e71e07;
}

.yellow {
    color: #fcd000;
}

.green {
    color: #42b132;
}

.footer_titles{
    color: wheat;
}

.social{
    color: yellow!important;
}

.social:hover{
    color: rgba(255, 255, 0, 0.622)!important;
}

.cata {
    text-decoration: none;
    color: whitesmoke;
}

.cata:hover {
    color: #c1c8e4a9;
}
